html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
body {
	font-size: 13px;
	font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
}
h1, h2, div, ul, li, p, span, a {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrap{
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	text-align: center; 	
}
.reasons{
	background-color: #026698;
	color: #fff;
	display: block;
	position: relative;
	text-align: center; 

}
.reasons_middle {
	position: relative;
	height: 460px;
	margin-top: 50px;
	background-color: #F0F4F9;
	border-radius: 5px;
	color: #000;
	background-color: #026698;
	color: #fff;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	box-sizing: border-box;
}
.reasons_five {
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 30px;
}
.reasons_middle_item {
	margin-left: 30px;
	float: left;
	width: 150px;
	text-align: center;
	font-size: 14px;
}
.reasons_middle_item_icon {
	display: block;
	width: 45px;
	height: 36px;
	margin: 0 auto 30px;
}
.reasons_middle_item_label {
	display: block;
}
.reasons_middle_item_icon_grad {
	background: url("../img/reasons.png") no-repeat;
}
.reasons_middle_item_icon_users {
	background: url("../img/reasons.png") no-repeat;
	background-position: -45px 0;
}
.reasons_middle_item_icon_chart {
	background: url("../img/reasons.png") no-repeat;
	background-position: -90px 0;
}
.reasons_middle_item_icon_tools {
	background: url("../img/reasons.png") no-repeat;
	background-position: -135px 0;
}
.reasons_middle_item_icon_net {
	background: url("../img/reasons.png") no-repeat;
	background-position: -180px 0;
}
.partners {
	background: url('../img/squairy_light.png');
	height: 250px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	box-shadow: #717070 0 15px 15px;
}
.partners_item_text {
	display: block;
	text-align: center;
	font-size: 26px;
	margin-top: 20px;
	color: #4d4b4b;
}
.partners_item {
	float: left;
	vertical-align: top;
	width: 50%;
}
.partners_item_icon {
	display: block;
	float: left;
	width: 150px;
	height: 109px;
	opacity: .5;
	-webkit-filter: grayscale(1);
}
.partners_item_icon:hover {
	opacity: 1;
	-webkit-filter: grayscale(1);
	transition: top 1s ease-out 0.5s;
}
.partners_item_icon_itmozg {
	background: url('../img/itmozg.png') no-repeat;
	margin-top: 30px;
	margin-left: 375px;
}
.signin_item_icon_agima {
	background: url('../img/agima.png') no-repeat;
	width: 120px;
	height: 25px;
	margin-top: 50px;
	margin-left: 120px;
	zoom: 1.25;
}
